$light-gray: #f7f7f9;

$primary-color-dark:   #F7F7F7;
$primary-color:        #F7F7F7;
$primary-color-light:  #6C6C6C;
$primary-color-text:   #FFFFFF;
$accent-color:         #6C6C6C;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
